@page "/"
@inject TodoStore TodoStore

@attribute [Observer]

<div>
    <div>Total Completed: @TodoStore.CompletedCount </div>
    <div>Total Active: @TodoStore.ActiveCount </div>
</div>

<br />

<AddTodo />

<br />

<br />

<TodoOverview Todos="this.TodoStore.Todos.ToList()" />

@code
{

    protected override async Task OnInitializedAsync()
    {
        await TodoStore.LoadTodos();
    }
}